
:root{
  --color: #4f84d9;
  --shadow: 0 0 3px 1px #d8d8d8;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #383838;
  background-color: #ffffff;
  margin: 0;
}

#inputArea {
  box-shadow: var(--shadow);
}

#inner-box {
  width: 400px;
  margin: 50px auto;
}

#textBox {
  display: block;
  width: 100%;
  height: 150px;
  min-height: 50px;
  max-height: 300px;
  resize: vertical;
  border: 2px solid var(--color);
  font-size: 1.5em;
}

#textBox:focus {
  outline: none;
}

#button {
  display: block;
  width: 100%;
  padding: 0.8em;
  border: 2px solid var(--color);
  border-top: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  background: var(--color);
}

#button:hover {
  background-color: #3466b7;
  cursor: pointer;
}

#button:active {
  color: var(--color);
  background: #fff;
  border-color: var(--color);
}

#button:focus {
  outline: none;
}

#posted {
  list-style: none;
  padding: 0;
}

#posted li {
  border: 2px solid var(--color);
  margin-bottom: 20px;
  padding: 0.5em;
  min-height: 75px;
  position: relative;
  box-shadow: var(--shadow);
}

#posted li span:first-child {
  max-width: 360px;
  display: block;
}

#posted li textarea {
  width: 360px;
  resize: vertical;
}

.deleteButton {
  position: absolute;
  right: 0;
  top: 3px;
  color: #7b7b7b;
  background: #fff;
  border: none;
}

.deleteButton:hover {
  cursor: pointer;
}

.deleteButton:focus {
  outline: none;
}

.editButton {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1em;
  color: #7b7b7b;
  position: absolute;
  right: 0;
  bottom: 3px;
}

.editButton:hover{
  cursor: pointer;
}

.editButton:focus {
  outline: none;
}

.saveButton {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 0.7em;
  color: #7b7b7b;
  position: absolute;
  right: 0;
  bottom: 3px;
}

.saveButton:hover{
  cursor: pointer;
}

.saveButton:focus {
  outline: none;
}

.timeStamp {
  display: block;
  margin-top: 20px;
  font-size: 0.7em;
}

.saveButton ~ .timeStamp {
  margin-top: 3px;
}














